<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<fieldset>



    <p>HI ,
        <%= username %>
    </p>
    <p>Email :
        <%= email %>
    </p>

    <a href="./admin/details/<%= email %>">Profile</a> </br>
    <a href="./admin/userlist">Userlist</a> </br>
    <a href="./admin/reports">Reports</a> </br>
    <a href="./admin/systemfile">System File</a> </br>
    <a href="/logout">logout</a>







</fieldset>

<body>


</body>

</html>