<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reports</title>
</head>

<body>
    <table border="1">
        <tr>


            <td>EMAIL</td>

            <td>Reports</td>
            <td>TYPE</td>
            <td>ACTION</td>
        </tr>


        <% console.log("user count:" +user.length);%>
            <% for(var i=0; i < user.length; i++){ %>

                <tr>


                    <td>
                        <%= user[i].email %>
                    </td>

                    <td>
                        <%= user[i].reports %>
                    </td>
                    <td>
                        <%= user[i].type %>
                    </td>

                    <td>

                        <a href="">Delete</a> |

                    </td>
                </tr>
                <% } %>


    </table>


</body>

</html>