<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manager</title>
</head>
<fieldset>
    <p>Hi,
        <%= username %>
    </p>
    <p>Email :
        <%= email %>
    </p>

    <a href="./manager/details/<%= email %>">Profile</a>
    <a href="./manager/inventory">Inventory</a>
    <a href="./manager/salary">Salary...</a>








</fieldset>

<body>


</body>

</html>